@{
    ViewBag.Title = "Home Page";
}

<div>
    @{
        if (Request.IsAuthenticated)
        {
            <span>当前用户已登录，登录名：@(Context.User.Identity.Name )</span>
            <form action="/Home/Logout">
                <input type="submit" name="Logout" value="退出" />
            </form>
        }
        else
        {
            <form action="/Home/Login">
                <input type="text" name="userName" />
                <input type="submit" value="登录" />
            </form>
        }
    }
</div>

