/异步/异步/web服务/bin
/异步/异步/web服务/obj
/异步/异步/窗体程序/bin
/异步/异步/窗体程序/obj
/异步/异步/控制台程序/obj
/异步/异步/控制台程序/bin
/设计模式/单例模式/obj
/设计模式/单例模式/bin
/设计模式/单例模式-控制台/obj
/设计模式/单例模式-控制台/bin
/设计模式/packages
/设计模式/策略模式-web/obj
/设计模式/策略模式-web/bin
/设计模式/策略模式-桌面程序/bin
/设计模式/策略模式-桌面程序/obj
/设计模式/你必须知道的javascript/bin
/设计模式/你必须知道的javascript/obj
/sso/SSODemo/packages
/sso/SSODemo/sso-client1/bin
/sso/SSODemo/sso-service/bin
/sso/SSODemo/sso-client2/bin
/sso/SSODemo/sso-client1/obj
/sso/SSODemo/sso-service/obj
/sso/SSODemo/sso-client2/obj
/UnitTestingDemo/packages
/UnitTestingDemo/Calculate/obj
/UnitTestingDemo/Calculate/bin
/UnitTestingDemo/Calculate.Tests/obj
/UnitTestingDemo/Calculate.Tests/bin
/UnitTestingDemo/.vs
/UnitTestingDemo/TestDemo/obj
/UnitTestingDemo/TestDemo/bin
/UnitTestingDemo/TestDemo.Tests/bin
/UnitTestingDemo/TestDemo.Tests/obj
/依赖注入/DIDemo/.vs
/依赖注入/DIDemo/Demo/bin
/依赖注入/DIDemo/Demo/obj
/依赖注入/DIDemo/packages
/切面编程/AOP/.vs
/切面编程/AOP/packages
/切面编程/AOP/Demo/obj
/切面编程/AOP/Demo/bin
/上传下载/packages
/上传下载/上传下载/obj
/上传下载/上传下载/bin
/身份认证Identity/Identity/Identity/obj
/身份认证Identity/Identity/Identity/bin
/身份认证Identity/Identity/packages
/上传下载/上传下载/App_Data
/上传下载/上传下载/新建文件夹2.rar
/文件下载（客户端）/文件下载（客户端）/obj
/文件下载（客户端）/文件下载（客户端）/bin
/上传下载/上传下载/test.txt
/上传下载/文件下载（客户端）/文件下载（客户端）/obj
/上传下载/文件下载（客户端）/文件下载（客户端）/bin
/上传下载/文件上传下载/packages
/上传下载/文件上传下载/上传下载/test.txt
/上传下载/文件上传下载/上传下载/新建文件夹2.rar
/上传下载/文件上传下载/上传下载/bin
/上传下载/文件上传下载/上传下载/obj
/上传下载/文件上传下载/上传下载/App_Data
/权限管理/1-Forms身份认证/packages
/权限管理/1-Forms身份认证/1-Forms身份认证/obj
/权限管理/1-Forms身份认证/1-Forms身份认证/bin
/权限管理/3-ASP.NET Identity/3-ASP.NET Identity/obj
/权限管理/3-ASP.NET Identity/3-ASP.NET Identity/bin
/权限管理/3-ASP.NET Identity/packages
/权限管理/2-Membership/2-Membership/obj
/权限管理/2-Membership/2-Membership/bin
/权限管理/2-Membership/packages
/WebSocket(留言板、聊天室 .net core)/WebApplication1/appsettings.Development.json
/WebSocket(留言板、聊天室 .net core)/WebApplication1/appsettings.json
/WebSocket(留言板、聊天室 .net core)/WebApplication1/obj
/WebSocket(留言板、聊天室 .net core)/WebApplication1/bin
/WebSocket(留言板、聊天室 .net core)/.vs
/(留言板 .net core)/WebApplication1/appsettings.Development.json
/(留言板 .net core)/WebApplication1/appsettings.json
/(留言板 .net core)/WebApplication1/bin
/(留言板 .net core)/WebApplication1/obj
/留言板 .net core/WebApplication1/appsettings.Development.json
/留言板 .net core/WebApplication1/appsettings.json
/留言板 .net core/WebApplication1/bin
/留言板 .net core/WebApplication1/obj
/sso(单点登录)/SSODemo/.vs
/sso(单点登录)/SSODemo/packages
/sso(单点登录)/SSODemo/sso-client1/obj
/sso(单点登录)/SSODemo/sso-client1/bin
/sso(单点登录)/SSODemo/sso-client2/obj
/sso(单点登录)/SSODemo/sso-client2/bin
/sso(单点登录)/SSODemo/sso-service/obj
/sso(单点登录)/SSODemo/sso-service/bin
/UnitTestingDemo(单元测试)/packages
/UnitTestingDemo(单元测试)/.vs
/UnitTestingDemo(单元测试)/TestDemo/obj
/UnitTestingDemo(单元测试)/TestDemo/bin
/UnitTestingDemo(单元测试)/TestDemo.Tests/bin
/UnitTestingDemo(单元测试)/TestDemo.Tests/obj
/MessageBoard/MessageBoard/bin
/MessageBoard/MessageBoard/obj
/MessageBoard/MessageBoard/appsettings.json
/MessageBoard/MessageBoard/appsettings.Development.json
/MessageBoard/.vs
/依赖注入/DIDemo/DemoNetCore/obj
/依赖注入/DIDemo/DemoNetCore/bin
/NoSQL/Redis/dotnetcoer_redis_demo/dotnetcoer_redis_demo/bin
/NoSQL/Redis/dotnetcoer_redis_demo/dotnetcoer_redis_demo/obj
/NoSQL/Redis/dotnetcoer_redis_demo/.vs
/DynamicWebApi/.vs
/DynamicWebApi/Application/bin
/DynamicWebApi/Application/obj
/DynamicWebApi/DynamicWebApi/obj
/DynamicWebApi/DynamicWebApi/bin
/DynamicWebApi/WebApi/bin
/DynamicWebApi/WebApi/obj
/依赖注入/DIDemo/DemoLibrary/bin
/依赖注入/DIDemo/DemoLibrary/obj
/依赖注入/DIDemo/EFCore/obj
/依赖注入/DIDemo/EFCore/bin
/权限管理/1-Forms身份认证/.vs/1-Forms身份认证/v15
/权限管理/3-ASP.NET Identity/.vs/3-ASP.NET Identity/v15
/EFCoreDemo/obj
/EFCoreDemo/bin
/sso(单点登录)/IdentityServer4_SSO_Service/IdentityServer4_SSO_Client1/bin
/sso(单点登录)/IdentityServer4_SSO_Service/IdentityServer4_SSO_Service/bin
/sso(单点登录)/IdentityServer4_SSO_Service/IdentityServer4_SSO_Client2/bin
/sso(单点登录)/IdentityServer4_SSO_Service/IdentityServer4_SSO_Client2/obj
/sso(单点登录)/IdentityServer4_SSO_Service/IdentityServer4_SSO_Service/obj
/sso(单点登录)/IdentityServer4_SSO_Service/IdentityServer4_SSO_Client1/obj
/sso(单点登录)/IdentityServer4_SSO_Service/.vs
/IdentityServer4_Demo/3_简化模式_ImplicitFlowAuthentication/1_Server/bin
/IdentityServer4_Demo/3_简化模式_ImplicitFlowAuthentication/MvcClient/bin
/IdentityServer4_Demo/2_密码模式_ResourceOwnerPasswords/Client/bin
/IdentityServer4_Demo/2_密码模式_ResourceOwnerPasswords/Server/bin
/IdentityServer4_Demo/2_密码模式_ResourceOwnerPasswords/Api/bin
/IdentityServer4_Demo/1_客户端模式_ClientCredentials/3_ClientA/bin
/IdentityServer4_Demo/1_客户端模式_ClientCredentials/Api/bin
/IdentityServer4_Demo/1_客户端模式_ClientCredentials/Server/bin
/IdentityServer4_Demo/2_密码模式_ResourceOwnerPasswords/Client/obj
/IdentityServer4_Demo/2_密码模式_ResourceOwnerPasswords/Api/obj
/IdentityServer4_Demo/2_密码模式_ResourceOwnerPasswords/Server/obj
/IdentityServer4_Demo/1_客户端模式_ClientCredentials/3_ClientA/obj
/IdentityServer4_Demo/1_客户端模式_ClientCredentials/Api/obj
/IdentityServer4_Demo/1_客户端模式_ClientCredentials/Server/obj
/IdentityServer4_Demo/3_简化模式_ImplicitFlowAuthentication/1_Server/obj
/IdentityServer4_Demo/3_简化模式_ImplicitFlowAuthentication/MvcClient/obj
/IdentityServer4_Demo/4_混合模式_HybridAndApi/MvcClient/bin
/IdentityServer4_Demo/4_混合模式_HybridAndApi/1_Server/bin
/IdentityServer4_Demo/4_混合模式_HybridAndApi/Api/bin
/IdentityServer4_Demo/4_混合模式_HybridAndApi/Api/obj
/IdentityServer4_Demo/4_混合模式_HybridAndApi/1_Server/obj
/IdentityServer4_Demo/4_混合模式_HybridAndApi/MvcClient/obj
/IdentityServer4_Demo/4_混合模式_HybridAndApi/.vs
/切面编程/AOP/DI/bin
/切面编程/AOP/Web/bin
/切面编程/AOP/ClassLibrary1/bin
/切面编程/AOP/DI/obj
/切面编程/AOP/Web/obj
/切面编程/AOP/ClassLibrary1/obj
/Dapper_Demo/DapperDemo/DapperDemo/appsettings.json
/Dapper_Demo/DapperDemo/.vs
/Dapper_Demo/DapperDemo/DapperDemo/obj
/Dapper_Demo/DapperDemo/DapperDemo/bin
