@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title> 
    <meta name="keywords" content="开发者,HiBlogs,嗨-博客,开发者,程序猿,程序媛,极客,编程,代码,开源,IT网站,技术社区,好记吗" />
    <meta name="description" content="Hi-Blogs，ASP.NET Core 正式启动。只为技术而技术！！！" />
</head>
<body> 
    <div class="container body-content">
        @RenderBody()
    </div> 
    @RenderSection("Scripts", required: false)
</body>
</html>
