@{
    ViewBag.Title = "文件上传下载";
}

<div class="row">
    <div>
        <div>
            1、需要post提交
            2、enctype="multipart/form-data" （传输文件）
            3、需要提交的表单元素需要设置 name 属性
        </div>
        <form action="/Home/SaveFile1" method="post" enctype="multipart/form-data">
            <input type="file" class="file1" name="file1" />
            <button type="submit" class="but1">上传</button>
        </form>
    </div>

    <div>
        <div>利用jquery.form.min</div>
        <form id="form2" action="/Home/SaveFile2" method="post" enctype="multipart/form-data">
            <input type="file" class="file1" name="file1" />
            <button type="submit" class="but1">上传1</button>
            <button type="button" class="but2">上传2</button>
        </form>
    </div>

    <div class="divForm">
        <input id="fileinfo" type="file" class="file1 notFormFile" name="file1" />
        <button type="submit" class="btnNotForm">上传1</button>
    </div>

    <div>
        <input type="file" multiple class="file2" id="file2">
        <button type="button" class="btnFile2">上传2</button>
        <div class="result"></div>
    </div>


    <div>
        <input type="file" multiple class="file3" id="file3">
        <button type="button" class="btnFile2">分片上传</button>
        <div class="result"></div>
    </div>
</div>

@section scripts{

    <script src="~/Scripts/jquery.form.min.js"></script>
    <script type="text/javascript">
        //方式2
        $(function () {
            $('#form2').ajaxForm({
                success: function (responseText) {
                    alert(responseText);
                }
            });
        });

        //方式3
        $(function () {
            $(".but2").click(function () {
                $('#form2').ajaxSubmit({
                    success: function (responseText) {
                        alert(responseText);
                    }
                });
            });
        });

        //方式4
        $(".btnNotForm").click(function () {
            var oMyForm = new FormData();
            oMyForm.append("userfile", $(".notFormFile")[0].files[0]);
            $.ajax({
                url: "/Home/SaveFile2",
                type: "POST",
                data: oMyForm,
                processData: false,  // 告诉jQuery不要去处理发送的数据
                contentType: false,   // 告诉jQuery不要去设置Content-Type请求头
                success: function (responseText) {
                    alert(responseText);
                }
            });
        });

        //方式5
        var oFile = document.getElementById('file2');
        oFile.onchange = function (e) {
            //创建xhr对象
            var xhr;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else {
                xhr = new ActiveXObject('Microsoft.XMLHTTP');
            };
            var data = oFile.files[0];
            //异步接受响应
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        //实际操作
                        $(".result").html(xhr.responseText);
                    }
                }
            }
            //发送请求
            xhr.open('post', '/Home/SaveFile2', true);
            xhr.setRequestHeader("content-type", data.type);
            xhr.send(data);
        }

        //方式6（分片上传）
        var oFile1 = document.getElementById('file3');

        function upload(file, skip) {
            var xhr;
            if (window.XMLHttpRequest) {
                xhr = new XMLHttpRequest();
            } else {
                xhr = new ActiveXObject('Microsoft.XMLHTTP');
            };
            var file = oFile1.files[0];
            var max = (skip + 1) * 1000000;
            if (file.size <= max) {
                max = file.size;
            }
            var data = file.slice(skip * 1000000, max);
            //异步接受响应
            xhr.onreadystatechange = function () {
                if (xhr.readyState == 4) {
                    if (xhr.status == 200) {
                        //实际操作
                        $(".result").html(skip);
                        if (file.size <= max) {
                            $(".result").html($(".result").html() + "  ok");
                            return;
                        }
                        upload(file, ++skip);
                    }
                }
            }
            //发送请求
            xhr.open('post', '/Home/SaveFile3', true);
            xhr.setRequestHeader("content-type", file.type);
            xhr.send(data);
        }

        oFile1.onchange = function (e) {

            var data = oFile1.files[0];
            upload(data, 0);
        }
    </script>
}